@model SovereignConnection.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SovereignHomePage.cshtml";
}

<div class="content_product">
    <div class="img_product">
        @{
            string[] imageUrls = Model.Product_Image.Split(',');
            foreach (var imageUrl in imageUrls)
            {
                <div class="img_product-item">
                    <img class="img_product-item-detail"
                         src="@Url.Content("~/Asset/img/ImagesProduct/" + imageUrl.Trim())"
                         alt="">
                </div>
            }
        }
    </div>



    <!-- mô tả sản phẩm -->
    <div class="describe_product">
        <div class="describe_product-name">

            @Model.Product_Name
        </div>
        <div class="describe_product-price">
            @Model.Product_Price
        </div>
        <div class="describe_product-price">
            <a href="./ClothesSize.html">Bảng Size</a>
        </div>
        <div class="describe_product-detail">
            @Model.Product_Decription
        </div>
        <!-- Kích thước -->
        <div class="describe_product-size">
            <div class="describe_product-size-name">Size:</div>
            <div class="describe_product-full-size-item">
                <button class="describe_product-size-item">S</button>
                <button class="describe_product-size-item">M</button>
                <button class="describe_product-size-item">L</button>
                <button class="describe_product-size-item">XL</button>
            </div>
        </div>
        <div class="describe_product-amount">
            <div class="describe_product-amount-left">
                <P>Amount:</P>
            </div>
            <!-- Số lượng -->
            <div class="buttons_added">
                <input class="minus is-form" type="button" value="-">
                <input aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value="1">
                <input class="plus is-form" type="button" value="+">
            </div>
        </div>
        <div class="cart">
            <button class="describe_product-pay" onclick="placeOrder(@Model.Product_Id)">
                Đặt hàng
            </button>


        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function placeOrder(productId) {
        $.ajax({
            url: '@Url.Action("PlaceOrder", "Sovereigncontroller")',
            type: 'POST',
            data: { productId: productId },
            success: function (response) {
                // Hiển thị thông báo đặt hàng thành công
                alert("Đặt hàng thành công!");

                // Cập nhật số lượng sản phẩm trong cơ sở dữ liệu (tuỳ chọn)
                // ...

                // Chuyển hướng đến trang thành công hoặc hiển thị thông tin đặt hàng (tuỳ chọn)
                // ...
            },
            error: function () {
                // Xử lý lỗi
                alert("Đã xảy ra lỗi khi đặt hàng.");
            }
        });
    }
</script>



